<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car List</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <style>
  </style>
</head>
<body>

<!-- Navbar -->
<nav class="grey darken-4">
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">Car Management App</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a th:href="@{/add_car}">Add Car</a></li>
      <li><a th:href="@{/home}">Manage Cars</a></li>
      <li><a th:href="@{/upload-photo}">Upload Car Photo</a></li>
      <li><a th:href="@{/logout}">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <h2>Car List</h2>
  <!-- Search form -->
  <form th:action="@{/car_list}" method="get">
    <div class="input-field">
      <input type="text" name="searchTerm" id="searchTerm" th:value="${searchTerm}" placeholder="Search by make or model">
      <label for="searchTerm">Search</label>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Search</button>
  </form>

  <table class="table">
    <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>VIN Number</th>
      <th>Year Made</th>
      <th>License Plate</th>
      <th>Current Mileage</th>
      <th>Fuel Type</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
      <td th:text="${car.make}"></td>
      <td th:text="${car.model}"></td>
      <td th:text="${car.vinNumber}"></td>
      <td th:text="${car.year}"></td>
      <td th:text="${car.licensePlate}"></td>
      <td th:text="${car.currentMileage}"></td>
      <td th:text="${car.fuelType}"></td>
      <td>
        <a class="btn btn-small" th:href="@{/update-car/{id}(id=${car.id})}">Update</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Materialize JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
