<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fuel Usage List</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<!-- Navbar -->
<nav class="grey darken-4">
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">Car Management App</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a th:href="@{/add_car}">Add Car</a></li>
      <li><a th:href="@{/home}">Manage Cars</a></li>
      <li><a th:href="@{/upload-photo}">Upload Car Photo</a></li>
      <li><a th:href="@{/logout}">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h3>Fuel Usage List</h3>
  <!-- Search form -->
  <form th:action="@{/fuel_usage_list}" method="get">
    <input type="text" name="searchTerm" th:value="${searchTerm}" placeholder="Search by car model">
    <button type="submit">Search</button>
  </form>
  <table class="striped">
    <thead>
    <tr>
      <th>Car Model</th>
      <th>Odometer</th>
      <th>Fuel Volume</th>
      <th>Price per Unit</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="fuelUsage : ${fuelUsages}">
      <td th:text="${fuelUsage.car.model}"></td>
      <td th:text="${fuelUsage.odometer}"></td>
      <td th:text="${fuelUsage.fuelVolume}"></td>
      <td th:text="${fuelUsage.pricePerUnit}"></td>
      <td>
        <a th:href="@{/fuel_usage/update/{id}(id=${fuelUsage.id})}">Update</a> /
        <a th:href="@{/fuel_usage/delete/{id}(id=${fuelUsage.id})}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
